src/*.exe
src/cashcow
src/cashcowd
src/test_cashcow
src/tags
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.cashcow

# Compilation and Qt preprocessor part
*.qm
Makefile
cashcow-qt
CashCow-Qt.app

# Unit-tests
Makefile.test
cashcow-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile

.qmake.stash
Info.plist
CashCow-Qt.xcodeproj
dist/
*.dmg

# Output of contrib/check-upstream.sh
merge-*.txt

*.sublime-project
*.sublime-workspace
